:root {
    --accent: #a5c43f;
    --light-accent: #e0e8c5;
    --neutral: #bab8b8;
    --border-color: #e3e3e3;
    --videogular-container-height: 40px;
    --player-height: 40px;
    --player-container-height: calc(var(--player-height) + var(--videogular-container-height));
    --playlist-width: 80%;
    --filters-width: 250px;
    --border-width: 2px;
    --header-height: 60px;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/HelveticaNeueMedium.eot');
    font-weight: 600;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GoodTimes';
    src: url('../fonts/GoodTimesRg-Regular.eot');
    src: url('../fonts/GoodTimesRg-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GoodTimesRg-Regular.woff') format('woff'),
    url('../fonts/GoodTimesRg-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: HelveticaNeue; 
    font-weight: 400;
    box-sizing: border-box;
}

b {
    font-weight: 600;
}

button.accent {
    background-color: var(--accent);
    border: 0 none;
    color: white;
    font-size: 1.25em;
    padding: .25em .75em;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 var(--player-container-height);
}

/* Dashboard Layout */

.header-nav {
    border-bottom: 1px solid var(--border-color);
    text-transform: uppercase;
    height: var(--header-height);
}

.filters {
    padding-top: .75em;
    float: left;
    width: calc(var(--filters-width) - var(--border-width));
    max-width: 250px;
    height: calc(100vh - var(--player-container-height) - var(--header-height));
    border-right: var(--border-width) solid var(--border-color);
    overflow: auto;
}

.playlist {
    float: left;
    width: calc(100vw - var(--filters-width) - var(--border-width));
    height: calc(100vh - var(--player-container-height));
}

.playlist table tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: calc(100vh - var(--player-container-height) - var(--thead-height) - var(--header-height));
}

.themes {
    float: left;
    width: calc(100vw - var(--filters-width) - var(--border-width));
}

.player {
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--player-container-height);
    border-top: var(--border-width) solid var(--border-color);
}

.animate-repeat {
    line-height:30px;
    list-style:none;
    box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    transition:all ease 0.25s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:30px;
}
