.filters .clear-filters {
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: OpenSans;
    border: 0 none;
    display: block;
    margin: 0 auto;
}

.filters .filter-categories {
    margin-top: 1em;
    padding-left: 0;
}

.filters .filter-categories .toggle-themes {
    /*margin-bottom: 5em;*/
}

.filters .filter-categories .toggle-themes a{
    text-decoration: none;
    font-size: .85rem;
    margin-left: .5em;
}

.filters .filter-categories > div {
    padding: 1em;
    padding-left: 1.5em;
    text-transform: uppercase;
}

.filters .filter-categories > div span {
    font-size: .85rem;
    margin-left: .5em;
}

.filters .filter-categories > div:hover,
.filters .filter-categories > div.active {
    background-color: var(--light-accent);
}

.filters .filter-categories > ul {
    background-color: white;
    font-size: .8rem;
}

.filters .filter-categories > ul li {
    list-style: none;
    padding-bottom: .45em;
    padding-right: 2em;
}

.filters .filter-categories > ul li .bullet {
   float: right;
}

.filters .filter-categories > ul li .bullet.active {
    color: var(--accent);
}
