:root {
    --filter-tags-height: 3em;
}

.filter-tags {
    height: var(--filter-tags-height);
    padding-left: 2em;
    margin-bottom: 2em;
}

.filter-tags span {
    text-transform: uppercase;
    font-size: .85rem;
}

.filter-tags ul {
    display: inline-block;
    padding-left: 15px;
}

.filter-tags li {
    text-transform: lowercase;
    text-decoration: none;
    display: inline-block;
    margin-right: .55em;
    background-color: var(--accent);
    color: black;
    padding: .05em .25em;
}

.filter-tags span {
}

