.header-nav h1 {
    color: var(--accent);
    font-size: 1.35rem;
    font-family: GoodTimes;
    margin: .75em;
    display: inline-block;
}

.header-nav .controls {
    float: right;
    width: 15em;
    margin: .75em;
}

.header-nav .controls > * {
    display: inline-block;
    float: right;
 }

.header-nav .light a {
    text-decoration: none;
}

.header-nav .light {
    color: var(--neutral);
    top: 10px;
    position: relative;
    margin-right: 1em;
}

.header-nav .hamburger {
    color: var(--accent);
}
