:root {
    --thead-height: 1.75em;
    --column-one-width: 20em;
    --column-two-width: 15em;
    --column-three-width: 15em;
}

.playlist table {
    table-layout: fixed;
    border-color: 1px solid black;
    width: calc(100vw - var(--filters-width));
    padding: 0 !important;
    margin-left: -2px;
    text-align: left;
    font-size: .8rem;
}

.playlist td:nth-child(1), .playlist th:nth-child(1) { width: var(--column-one-width) !important;  }
.playlist td:nth-child(2), .playlist th:nth-child(2) { width: var(--column-two-width) !important;  }
.playlist td:nth-child(3), .playlist th:nth-child(3) { width: var(--column-three-width) !important;  }

.playlist thead {
    text-transform: uppercase;
    color: var(--neutral);
    text-align: left;
    display: block;
    height: var(--thead-height);
    border-bottom: 1px solid var(--border-color);
    padding-left: 4em;
}

.playlist table tbody tr {
    width: 100%;
    display: block;
    padding-left: 4em;
    border-bottom: 1px solid var(--border-color);
}

.playlist table tbody td {
    padding: .75em 0;
}

.playlist table .center {
    text-align: center;
}

.playlist a {
    text-decoration: none;
}

.playlist a:hover {
    text-decoration: underline;
}
