:root {
    --accent: #a5c43f;
    --neutral: #bab8b8;
    --scrub-bar-height: 8px;
    --player-controls-margin: 2em;
    --player-margin: 1.75em;
    --volume-width: 125px;
    --volume-bar-height: 10px;
    --volume-margin: 0px;
}

.player .videogular-container {
    height: var(--videogular-container-height);
}

.logged-out-message {
    text-transform: uppercase;
    text-align: center;
    font-size: .8em;
}

.player .right,
.player .left {
    float: left;
    width: 25%;
    display: flex;
}

vg-controls {
    display: block;
    max-width: 80%;
    margin: 0 auto;
}

.player .left {
    justify-content: flex-end;
    margin-right: var(--player-margin);
}

.player .right {
    justify-content: flex-start;
    margin-left: var(--player-margin);
}

.player .centered {
    float: left;
    width: 50%;
}

.player button.license {
    font-family: OpenSans;
    letter-spacing: 1px;
    display: inline;
    padding:.15em .45em;
    font-size: 1.1rem;
}

.player .controls-container { /* generated wrapper */
    display: flex;
    align-items: center;
}


.player .controls-container vg-button:first-of-type { 
    margin-right: var(--player-controls-margin);
}
.player .controls-container vg-play-pause-button {
    margin-right: var(--player-controls-margin);
}

videogular {
    background-color: inherit !important;
}

videogular vg-controls{
    margin-top: 1em;
    height: var(--player-height) !important;
}

videogular vg-video{
    font-size: 0;
    height: auto !important;
}

videogular vg-poster-image img{
    width: 100% !important;
}

videogular .iconButton,
videogular vg-time-display {
    color: inherit !important;
}

videogular .iconButton {
    font-family: 'FontAwesome' !important;
    padding: 0 !important;
}

videogular .iconButton:focus {
    border-width: 0 !important;
}

videogular vg-time-display {
    font-family: inherit !important;
    font-size: inherit !important;  
    color: var(--neutral) !important;
}

videogular vg-time-display:first-of-type {
    padding-right: 1em;
}

videogular vg-time-display:nth-of-type(2) {
    padding-left: 1em;
}

videogular vg-scrub-bar {
    vertical-align: middle;
}

videogular vg-scrub-bar .container {
    border-radius: 20px;
    height: var(--scrub-bar-height);
    width: 100%;
}

videogular vg-scrub-bar-current-time {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: var(--accent) !important;
    height: var(--scrub-bar-height) !important;
}

videogular vg-scrub-bar > div{
    position: relative;
    background-color: var(--neutral);
}

videogular vg-title{
    position: absolute;
    width: 100%;
    line-height: var(--player-height);
    padding: 0 10px;
}

videogular vg-button{
    color: var(--accent);
}

videogular vg-overlay-play .play:before {
    content: "\f04b" !important;
}

/* Controlbar icons */

videogular vg-volume {
    display: inline !important;
    height: var(--player-height);
    position: relative;
    width: calc(25px + var(--volume-width));
    margin-right: 1em;
}

videogular fusion-volume-bar .volumeBackground {
    width: var(--volume-width);
    height: var(--volume-bar-height);
    left: 15px;
    top: 15px;
    border-radius: 20px;
    background-color: var(--neutral);
    position: absolute;
}

videogular fusion-volume-bar .volumeValue {
    width: var(--volume-width);
    height: var(--volume-bar-height);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: var(--accent);
    position: absolute;
}

videogular fusion-volume-bar .volumeClickArea {
    width: var(--volume-width);
    position: absolute;
}

videogular fusion-volume-bar {
    width: var(--volume-width);
    height: var(--volume-bar-height);
    margin-left: var(--volume-margin);
    cursor: pointer;
}

/* IE10 hack */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    videogular fusion-volume-bar {
        zoom: 1;
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
}


videogular vg-play-pause-button .play:before,
videogular vg-play-pause-button .pause:before {
    display: table-cell;
    vertical-align: middle;
}

videogular vg-play-pause-button .play:before {
    content: "\f04b" !important;
    color: var(--accent);
}

videogular vg-play-pause-button .pause:before {
    content: "\f04c" !important;
    color: var(--accent);
}

videogular fusion-mute-button *:before {
    color: var(--accent);
    position: absolute;
}

videogular fusion-mute-button .level3:before {
    content: "\f028" !important;
}

videogular fusion-mute-button .level2:before {
    content: "\f028" !important;
}

videogular fusion-mute-button .level1:before {
    content: "\f027" !important;
}

videogular fusion-mute-button .level0:before {
    content: "\f027" !important;
}

videogular fusion-mute-button .mute:before {
    content: "\f026" !important;
}

videogular vg-full-screen-Button .enter:before {
    content: "\f065" !important;
}

videogular vg-full-screen-Button .exit:before {
    content: "\f066" !important;
}

