:root {
    --hero-height: 10em;
}

.themes {
    height: calc(100vh - var(--player-container-height) - 60px);
    overflow: auto;
}

.themes .content {
    width: 80%;
    margin: 0 auto;
}

.themes .hero {
    height: var(--hero-height);
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4) ), url(../img/beach.jpeg);
    background-size: cover;
}

.themes .hero h2 {
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    line-height: 5em;
    margin-right: 1em;
    font-size: 2rem;
}

.themes .grid-container {
    margin: 0 auto;
    padding-left: 5px;
}

.themes .grid-container .box {
    height: 15em;
    margin-right: 20px;
    margin-top: 20px;
    width: 23%;
    display: inline-block;
    text-align: center;
    background-size: cover;
    position: relative;
}

.themes .grid-container .box a {
    text-decoration: none;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    font-size: 1.4em;
    color: white;
}

.themes .grid-container .box:nth-child(4n) {
    margin-right: 0;
}
