.theme-single {
    width: calc(100vw - var(--filters-width));
    height: calc(100vh - var(--player-container-height) - 100px);
    overflow: scroll-y;
}

.theme-single .container {
    position: relative;
    width: calc(100vw - var(--filters-width));
    left: calc( var(--filters-width)/2 );
}

.theme-single .hero {
    height: 100px;
    width: calc(100vw - var(--filters-width));
    left: calc( var(--filters-width)/2 );
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.theme-single .hero h2 {
    text-align: center;
    line-height: 100px;
    text-transform: uppercase;
    color: black;
    position: relative;
    left: -90px;
    font-size: 1.8rem;
}

.theme-single .playlist {
    margin: 0 auto;
    margin-top: 2em;
    height: 20em;
    width: 60%;
}
.theme-single .text {
    width: 35%;
    float: left;
    margin-left: 2em;
}

.theme-single .playlist thead {
    width: 80%;
}

.theme-single .playlist tbody {
    height: 20em;
    width: 80%;
}

.theme-single .right {
}

