<!DOCTYPE html>
<html ng-app="fusion-app">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>FusionWave</title>

        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/header-nav.css">
        <link rel="stylesheet" href="css/filter-tags.css">
        <link rel="stylesheet" href="css/filters.css">
        <link rel="stylesheet" href="css/playlist.css">
        <link rel="stylesheet" href="css/player-theme.css">
        <link rel="stylesheet" href="css/themes.css">
        <link rel="stylesheet" href="css/themesingle.css">

        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="node_modules/angular-animate/angular-animate.js"></script>
    </head>
    <body>
        <div class="dashboard" ng-controller="DashboardController as dash">
            <div class="header-nav">
                <h1>FusionWave</h1>

                <div class="controls">
                    <!--<div class="hamburger"><i class="fa fa-bars"></i></div>-->
                    <div class="light"><a ui-sref="playlist">Browse</a></div>
                </div>
            </div>

            <div class="filters" ng-controller="FilterController as filters">
                <button class="clear-filters" ng-click="filters.clearAllFilters()">Clear all filters</button>

                <div class="filter-categories">
                    <div class="toggle-themes">
                        <i class="fa fa-signal"></i> <a ui-sref='themes'>Themes</a>
                    </div>

                    <div ng-click="filters.toggleOpen('genre')" ng-class="{active: filters.show.genre}">
                        <i class="fa fa-headphones"></i> <span>Genre</span>
                    </div>
                    <ul ng-show="filters.show.genre">
                        <li ng-repeat="genre in filters.GENRES" ng-click="filters.toggleFilter({type: 'genre', name: genre})">
                            {{ genre }} 
                            <span class="bullet" ng-class="{active: filters.hasFilter({type: 'genre', name: genre})}">&#x25cf;</span>
                        </li>
                    </ul>

                    <div ng-click="filters.toggleOpen('mood')" ng-class="{active: filters.show.mood}">
                        <i class="fa fa-microphone"></i> 
                        <span>Mood</span>
                    </div>
                    <ul ng-show="filters.show.mood">
                        <li ng-repeat="mood in filters.MOODS" ng-click="filters.toggleFilter({type: 'mood', name: mood})">
                            {{ mood }} 
                            <span class="bullet" ng-class="{active: filters.hasFilter({type: 'mood', name: mood})}">&#x25cf;</span>
                        </li>
                    </ul>

                    <div ng-click="filters.toggleOpen('instruments')" ng-class="{active: filters.show.instruments}">
                        <i class="fa fa-microphone"></i> <span>Instrument</span>
                    </div>
                    <ul ng-show="filters.show.instruments">
                        <li ng-repeat="instrument in filters.INSTRUMENTS" ng-click="filters.toggleFilter({type: 'instrument', name: instrument})">
                            {{ instrument }} 
                            <span class="bullet" ng-class="{active: filters.hasFilter({type: 'instrument', name: instrument})}">&#x25cf;</span>
                        </li>
                    </ul>
                </div>
            </div>

            <ui-view></ui-view>

            <div class="player" ng-controller="PlayerController as player">
                <div class="videogular-container audio">
                    <videogular 
                        vg-player-ready="player.onPlayerReady($API)"
                        vg-theme="player.config.themeUrl">
                        <vg-media vg-src="player.config.currentSong" vg-type="audio"></vg-media>
                    
                        <vg-controls>
                            <div class="left">
                                <vg-button><i class="fa fa-backward"></i></vg-button>
                                <vg-play-pause-button></vg-play-pause-button>
                                <vg-button><i class="fa fa-forward"></i></vg-button>
                            </div>
                            <div class="centered">
                                <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                                <vg-scrub-bar>
                                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                </vg-scrub-bar>
                                <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                            </div>
                            <div class="right">
                                <vg-volume>
                                    <!--<vg-mute-button></vg-mute-button>-->
                                    <fusion-mute-button vg-template="../templates/mute-button.html"></fusion-mute-button>
                                    <fusion-volume-bar vg-template="../templates/volume-bar.html"></fusion-volume-bar>
                                </vg-volume>
                                <button class="accent license">LICENSE</button>
                            </div>
                        </vg-controls>
                    </videogular>
                </div>
                <div class="logged-out-message"><b>Login</b> or <b>Create Free Account</b> to save favorites and hear full tracks</div>
            </div>
        </div>

        <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="node_modules/videogular/dist/videogular/videogular.js"></script>
        <script src="node_modules/videogular-controls/vg-controls.js"></script>
        <script src="node_modules/videogular-overlay-play/vg-overlay-play.js"></script>
        <script src="node_modules/videogular-poster/vg-poster.js"></script>
        <script src="node_modules/videogular-buffering/vg-buffering.js"></script>

        <script src="js/app.js"></script>
        <script src="js/fusion.playerservice.js"></script>
        <script src="js/fusion.dashboard.js"></script>
        <script src="js/fusion.player.js"></script>
        <script src="js/fusion.playlist.js"></script>
        <script src="js/fusion.filters.js"></script>
        <script src="js/fusion.tags.js"></script>
        <script src="js/fusion.filterservice.js"></script>
        <script src="js/fusion.vg-mute-button.js"></script>
        <script src="js/fusion.vg-volume-bar.js"></script>
        <script src="js/fusion.themes.js"></script>
        <script src="js/fusion.themesingle.js"></script>
    </body>
</html>
