<div class="playlist" ng-controller="PlaylistController as playlist">
    <div class="filter-tags" ng-controller="FilterTagsController as tags">
        <span>Filters:</span>
        <ul>
            <li ng-repeat="filter in tags.filters">{{ filter.name }} <i class="fa fa-close" ng-click="tags.removeFilter(filter)"></i></li>
        </ul>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th class="center">Length</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            <tr class="animate-repeat" ng-repeat="song in playlist.playlist">
                <td><a href="" ng-click="playlist.playSong(song)">{{ song.title }}</a></td>
                <td class="center">{{ song.length }}</td>
                <td>{{ song.genre }}</td>
            </tr>
        </tbody>
    </table>
</div>

