<div class="themes" ng-controller="ThemesController as themes">
    <div class="content">
        <div class="hero">
            <h2>Themes</h2>
        </div>

        <div class="grid-container">
            <div class="box" 
                ng-repeat="theme in themes.lists" 
                ng-style="{ 
                'background': 'linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4) ), url(' + theme.img + ')',
                'background-size': '200%',
                'background-repeat': 'no-repeat',
                'background-position': 'center',
                }">
                <a ui-sref="theme({ title: theme.name, playlist: theme.playlist })">{{ theme.name }}</a>
            </div>
        </div>
    </div>
</div>
