<div class="theme-single" ng-controller="SingleThemeController as theme">
    <div class="container">
        <div class="hero">
            <h2>{{ theme.title }}</h2>
        </div>
    </div>

    <div class="left">
        <div class="playlist" ng-controller="PlaylistController as playlist">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="center">Length</th>
                        <th>Genre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="song in theme.playlist">
                        <td><a href="" ng-click="playlist.playSong(song)">{{ song.title }}</a></td>
                        <td class="center">{{ song.length }}</td>
                        <td>{{ song.genre }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="text">No two couples are alike, and neither are their favorite songs. But you can learn some lessons from your fellow to-be-weds: Choose a mix of tunes that showcases your style, keeps grandma bobbing her head and all your guests entertained.</div>
    </div>

</div>
