<div class="volumeBackground" 
     ng-click="onClickVolume($event)" 
     ng-mousedown="onMouseDownVolume()" 
     ng-mouseup="onMouseUpVolume()" 
     ng-mousemove="onMouseMoveVolume($event)" 
     ng-mouseleave="onMouseLeaveVolume()">
    <div class="volumeValue"></div>
    <div class="volumeClickArea"></div>
</div>

